.firstLink {
  display: inline-block;
<<<<<<< HEAD
};

.p {
  color: gray;
  font-style: italic;
};

.footer, .push {
clear: both;
=======
}
.strongOne{
  text-align: center;
>>>>>>> 9afe49be058887556fc256f311457c0e6072ccf4
}