.firstLink {
  display: inline-block;
}
.p {
  color: gray;
  font-style: italic;
}
.modalFlight{
  text-align: center;
}
.push {
clear: both;
}
.headerCenter {
  text-align: center;
}
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.crslSize {
  position: relative;
  top: 5px;
}
.domestic, .international {
  text-align: center;
}
.panelDom1 {
  position: center;
}
#leftNav {
  top: 0;
}