.firstLink {
  display: inline-block;
}
.p {
  color: gray;
  font-style: italic;
}
.modalFlight{
  text-align: center;
}
.push {
clear: both;
}
.headerCenter{
  text-align: center;
}
.footer{
  text-align: center;
  position: fixed;
  bottom: 0;
}
